<article>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 disparaitre">
        <div class="categorie-text">
          <h2>Les Tops VG</h2>
          <br />
          <a href="">Shop now</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 foto">
        <p id="goici"></p>
      </div>
    </div>
  </div>
</article>
