* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Param generaux */

a {
  text-decoration: none;
  color: gray;
}
a:hover {
  color: rgb(37, 37, 37);
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
