<footer class="p-3">
  <div class="container-fluid top position-relative">
    <div class="row text-center">
      <div class="col-sm">
        <div class="dropdown show">
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Language
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">En</a>
            <a class="dropdown-item" href="#">FR</a>
            <a class="dropdown-item" href="#">UK</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <ul>
          <li>
            <a href="#">Delivery&Return</a>
          </li>
          <li>
            <a href="#"> Contact us</a>
          </li>
          <li>FAQ</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
          <li>
            <a href="https://www.instagram.com/vg.paris/"
              >Instagram <i class="fas fa-external-link-alt"></i
            ></a>
          </li>
          <li>
            <a href="google.fr">
              Facebook <i class="fas fa-external-link-alt"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid footer-bottom-list mt-5">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-6 text-center ">Legals</div>
      <div class="col-lg-2 col-md-2 col-sm-6 text-center">Terms of sale</div>
      <div class="col-lg-2 col-md-2 col-sm-6 text-center ">Privacy policy</div>
      <div
        class="col-lg-6 col-md-6 col-sm-6 align-content-end text-right viktoriia"
      >
        © Viktoriia Guino
      </div>
    </div>
  </div>
</footer>
