<article>
  <hr />

  <div class="container-fluid categorie">
    <div class="row text-center justify-content-center ">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="img-box2 imaggg">
          <a href=""
            ><img
              src="../../assets/img/categorie/veste.jpg"
              class="foto2 mt-5"
              alt="foto_manteaux"
            />
          </a>
          <!-- <article class="categorie-text">
            <p class="titrecard">Grab your Coat</p>
            <a class="titrecardbas" href="">shop now</a>
          </article> -->
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="img-box position-relative imaggg">
          <a href=""
            ><img
              src="../../assets/img/categorie/haut.jpg"
              class="foto mt-5"
              alt="foto-haut"
            />
            <!-- <article class="categorie-text"> -->
            <!-- <div class="position-absolute">
              <p class="titrecard">Grab your Coat</p>
              <a class="titrecardbas" href="">shop now</a>
            </div> -->
            <!-- </article> -->
          </a>
        </div>
      </div>
      <div class="col-sm-6  col-md-6 col-lg-3">
        <div class="img-box imaggg">
          <a href=""
            ><img
              src="../../assets/img/categorie/bas.JPG"
              class="foto mt-5"
              alt="foto_bas"
            />
          </a>
          <!-- <article class="categorie-text">
            <p class="titrecard">Grab your Coat</p>
            <a class="titrecardbas" href="">shop now</a>
          </article> -->
        </div>
      </div>
    </div>
  </div>
  <hr />
</article>
