@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");

article {
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  background-color: #f3eee8;
  padding-top: 10vh;
  padding-right: 7vw;
  padding-left: 7vw;
}
hr {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
.foto {
  height: 380px;
  width: 260px;
}
.foto2 {
  height: 380px;
  width: 570px;
}
.categorie {
  // max-width: 85vw;
  // width: 85vw;
  height: 70vh;
  background-color: chartreuse;
}

.imaggg:hover img {
  -webkit-transform: scale(1.2); //size
  transform: scale(1.2);
  transition: 0.6s; //speed
}
.imaggg img {
  transition: 0.6s;
}
.img-box {
  position: relative;
  min-height: 26em; // 1em 16px
  min-width: 100%;
}

.imgbox a > img {
  height: 100%;
  width: 100%;
}

// .categorie-text {
//   position: absolute;
//   top: 82%;
//   // transform: translateY(-50%);
//   left: 21%;
//   color: #f4ebe0;
//   font-weight: bolder;
// }

// .position-absolute {
//   top: 50%;
//   left: 50%;
//   transform: (-50%, -50%);
// }

@media screen and (max-width: 576px) {
  article {
    padding-right: 0px;
    padding-left: 0px;
  }
}
