@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
article {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  position: relative;
  z-index: 10;
}
.foto {
  margin-top: 10vh;
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../assets/img/about/vika.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about {
  margin-top: 10vh;
  min-height: 100vh;
  background-color: #f8f5f0;
  // text-align: center;
  text-align: justify;
  padding-left: 5vw;
  padding-right: 5vw;
}
.categorie-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(49, 48, 48);
}
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
// @media screen and (max-width: 768px) {

// }
