<app-nav></app-nav>
<article>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-12 col-sm-12  sectionleft ">
        <a *ngIf="user">Welcome : {{ user?.email }}</a>
        <ul class="nav flex-column pt-2">
          <li class="nav-item">
            <button (click)="myDisplay1()" class="btn btn-link button">
              Account details
            </button>
          </li>
          <li class="nav-item">
            <button (click)="myDisplay2()" class="btn btn-link button">
              Favorites
            </button>
          </li>
          <li class="nav-item">
            <button (click)="myDisplay3()" class="btn btn-link button">
              Order history
            </button>
          </li>
        </ul>
        <button
          *ngIf="user"
          class="btn btn-info my-4  bg-transparent shadow-none logout"
          type="submit"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
      <div class="col-lg-10 col-md-12 col-sm-12 bg-primary sectionright">
        <app-account-details *ngIf="isShow1"></app-account-details>
        <app-favorites *ngIf="isShow2"></app-favorites>
        <app-order-history *ngIf="isShow3"></app-order-history>
      </div>
    </div>
  </div>
</article>
<app-footer></app-footer>
