<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <a class="navbar-brand pl-3" routerLink="/">
    <img
      src="../../assets/img/vgpng.png"
      class="logo"
      width="40"
      height="40"
      alt="logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end align-items-end"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Shop
        </a>
        <div
          class="dropdown-menu bg-transparent"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">Jackets</a>
          <a class="dropdown-item" href="#">Dresses</a>
          <a class="dropdown-item" href="#">Coats</a>
          <a class="dropdown-item" routerLink="/Tops">Tops</a>
          <a class="dropdown-item" href="#">Skirts</a>
          <a class="dropdown-item" href="#">Trousers</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Explore
        </a>
        <div
          class="dropdown-menu bg-transparent"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" routerLink="/Viktiriia">Victoriia</a>
          <a class="dropdown-item" href="#">Photo shoot</a>
        </div>
      </li>
      <!-- <li>
        <button
          class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
          aria-label="Download"
          routerLink="account"
        >
          account_circle
        </button>
      </li> -->
      <!-- <li class="mt-2">
        <a *ngIf="user">Bienvenue : {{ user?.email }}</a>
      </li> -->
      <li class="nav-item dropdown">
        <button
          class="nav-link dropdown-toggle mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded bg-transparent shadow-none border-0"
          href="#"
          id="navAccount"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          account_circle
        </button>
        <div class="dropdown-menu bg-transparent" aria-labelledby="navAccount">
          <!-- <a *ngIf="user" class="dropdown-item" (click)="logout()" href="#"
            >Logout</a
          > -->
          <a
            *ngIf="user"
            class="dropdown-item"
            routerLink="/UserSpace"
            >My account</a
          >
          <a *ngIf="!user" class="dropdown-item" routerLink="/account"
            >Register</a
          >
          <a *ngIf="!user" class="dropdown-item" routerLink="/account">Login</a>
        </div>
      </li>
      <li>
        <button
          class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded "
          aria-label="Print this page"
        >
          search
        </button>
      </li>
      <li>
        <button
          class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded "
          aria-label="Bookmark this page"
        >
          shopping_basket
        </button>
      </li>
    </ul>
  </div>
</nav>
