@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
nav {
  // box-shadow: 2px 2px 5px rgb(188, 188, 209, 0.6);
  position: fixed;
  width: 100vw;
  z-index: 9999;
  height: 10vh;
}
li {
  padding-left: 35px;
}
a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.dropdown > button {
  color: #212529;
}

// @media screen and (max-width: 568px) {
//   .navbar-expand-lg {
//     background-color: rgba(0, 0, 255, 0);
//   }
// }
