.signUP {
  color: rgb(37, 37, 37);
  border-style: solid;
  border-width: rgb(37, 37, 37) 1px;
  padding: 15px 60px;
  border-color: rgb(37, 37, 37);
  float: left;
  border-radius: unset;
}
.forma {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f8f5f0;
  border-radius: unset;
}
.forma:focus,
.forma:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: gray;
  background-color: #f8f5f0;
}
