<app-nav></app-nav>
<article>
  <div class="container-fluid footer-bottom-list p-2">
    <div class="row padd">
      <div
        class="col-lg-4 col-md-12 col-sm-12  welcome align-content-start text-left p-5 ml-5 "
      >
        Welcome
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12  align-content-center text-center p-5 mx-auto "
      >
        <button
          type="button"
          class="btn btn-link float-left"
          (click)="toggleDisplay()"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-link float-right"
          (click)="toggleDisplay2()"
        >
          Register
        </button>
        <app-login *ngIf="isShow"></app-login>
        <app-register *ngIf="isShow2"></app-register>
      </div>
    </div>
  </div>
</article>
<app-footer></app-footer>
