@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
article {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 3px;
  text-align: center;
  background: #f8f5f0;
  padding: 0 30px;
  position: relative;
  z-index: 10;
}
.padd {
  padding-top: 20vh;
}
button {
  color: gray;
}
.welcome {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5em;
}
.btn-link:hover {
  color: rgb(37, 37, 37);
}

@media screen and (max-width: 768px) {
  article {
    position: inherit;
  }
}
