@import url("https://fonts.googleapis.com/css?family=Cinzel|Playfair+Display|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap");
article {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f8f5f0;
  position: relative;
  z-index: 10;
}

h2 {
  font-size: 0.7em;
  font-family: "Playfair Display", serif;
  // font-family: "Raleway", sans-serif;
  font-weight: 700;
  // font-family: "Raleway", sans-serif;
  // font-weight: 400;
  color: rgb(49, 48, 48);
  letter-spacing: 0.2em;
}

p {
  font-size: 0.8em;
  // font-family: "Raleway", sans-serif;
  font-family: "Cinzel", serif;
  letter-spacing: 0.2em;
  // font-weight: 700;
}
p,
button {
  opacity: 0;
}
.material-icons,
.mdc-icon-button {
  font-size: 14px !important;
}
.card-body {
  padding: 0.2em !important;
}
.shadow:hover p {
  opacity: 1;
  transition: 0.6s; //speed
}
.shadow:hover button {
  opacity: 1;
  transition: 0.6s; //speed
}
// .nopadding {
//   padding-left: 0 !important;
//   padding-right: 0 !important;
// }
// @media screen and (max-width: 768px) {

// }
