<app-nav></app-nav>
<article>
  <div class="container-fluid pt-5">
    <div class="row p-5" *ngIf="tops?.length > 0; else noTops">
      <div class="col-lg-3 col-md-6 col-sm-12  p-3" *ngFor="let tops of tops">
        <div class="card text-center shadow">
          <button
            class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded"
            aria-pressed="false"
            aria-label="Add to favorites"
            title="Add to favorites"
          >
            <i
              class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on likebutton"
              >favorite</i
            >
            <i class="material-icons mdc-icon-button__icon">favorite_border</i>
          </button>

          <img
            src="{{ tops.pics }}"
            class="img-fluid mx-auto"
            width="250px"
            height="auto"
            alt="..."
          />
          <div class="card-body display">
            <h2>{{ tops.title }}</h2>
            <p>{{ tops.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noTops>
    <hr />
    <h5>noTops to list</h5>
  </ng-template>
</article>
<app-footer></app-footer>
